@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
.page2 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 50%;
    top: 50%;
    font-family: "Red Hat Display", sans-serif;
    color: white;
}


.page2-x {
    z-index: -1;
    position: fixed;
    color: #eb0028;
    opacity: 18%;
    left: 50%;
    top: 50%;
    text-align: center;
    /* width: 100vw; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 100vh;
    animation: rotate-animation 5s ease infinite;
}

@keyframes rotate-animation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.page2-heading {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}

.page2-heading-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page2-flip {
    font-size: 7.5rem;    
}

.page2-the {
    font-size: 2rem;
    transform: translate(-10px, 88px);
}

.page2-script {
    font-weight: bolder;
    font-size: 5.5rem;
    transform: rotate(180deg) translate(0px, 50px);
}

.page2-content {
    font-size: 2.5rem;
    line-height: 8vh;
    font-weight: 100;
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Red Hat Display", 'sans-serif';
}

@media screen and (orientation : portrait) {
    .page2-content {
        font-size: 1.5rem;
        line-height: 3vh;
    }

    .page2-x {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation: none;
    }
}