@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.page4{
    position: fixed;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    font-family: "Red Hat Display", sans-serif;
}

.page4-heading{
    font-size: 12rem;
    font-weight: 300;
    color: rgb(194, 194, 194);
}

.page4-description{
    font-style: italic;
}

.page4-content{
    display: flex;
    flex-direction: row;
    animation: appear ease-in 1s forwards;
}

.page4-list-of-speakers{
    right: 0;
    text-align: left;
    position: absolute;
    /* left: 50%; */
    /* padding-right: 10vw; */
    color: grey;
    transform: translate(0%, 50px);
    width: 50vw;
}

.page4-speaker-description{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 36vw;
    text-align: left;
    position: fixed;
    bottom: 5%;
    /* left: 83%; */
    right: 1%;
    font-size: 1.2rem;
}

@media screen and (orientation : portrait) {
    .page4-heading{
        font-size: 4rem;
    }

    .page4-list-of-speakers{
        width: 100vw;
        text-align: center;
    }

    .page4-speaker-description{
        height: auto;
        width: 55vw;
        font-size: 0.8rem;
        bottom: 52%;
    }
}

@keyframes appear {
    0%{
        transform: translate(0, 10px);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes text-move {
    0%{
        transform: translate(0, 10px);
    }
    100%{
        transform: translate(0, 0);
    }
}