.App {
  text-align: center;
  height: 2000px;
}

.logo-entrance-container{
  border-radius: 10px;
  position: fixed;
  /* left: 50%; */
  /* top: 50%; */
  transform: translate(-50%, -50%);
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 0vh;
  width: 0vw;
  /* animation: appear ease-out 0.8s forwards; */
  /* animation-delay: 1s; */
}

@keyframes appear {
  0% {
    height: 0vh;
    width: 0vw;
    border-radius: 15px;
  }

  100%{
    height: 100vh;
    width: 100vw;
    border-radius: 0;
  }
}

.logo-entrance-img{
  opacity: 0;
  /* height: 30vw; */
  animation: image-appear ease-out 1s forwards;
  /* animation-delay: 1s; */
}

@keyframes image-appear{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}
